@page
@model CommunityBoard.FrontEnd.Pages.Errors.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}

<section class="container d-flex justify-content-center">
	<section class="text-center">
		<h1>Whoops!</h1>
		<h3 class="text-danger">404 - Not Found</h3>
		<h4>We apologize, the resource was not found</h4>
		<a asp-page="/Index" 
		   class="btn btn-outline-danger btn-lg transition">
			Go Back to Home
		</a>
	</section>
</section>