@page "{announcementId}"
@model CommunityBoard.FrontEnd.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<link rel="stylesheet" href="~/css/custom.css" />

<div class="d-flex justify-content-center">
	<form method="POST"
		  autocomplete="off"
		  id="contact-author-form"
		  class="w-75 p-3 text-center signup-form ">
		<h2>Contact @(Model.AnnouncementUser.FirstName + " " + Model.AnnouncementUser.LastName)</h2>
		<hr class="w-75 text-center m-auto pb-3" />
		<div class="form-group">
			<input type="text"
				   class="form-control"
				   asp-for="EmailSubject"
				   placeholder="Subject"
				   maxlength="100"
				   required>
		</div>
		<div class="form-group">
			<textarea class="form-control"
					  asp-for="EmailBody"
					  required
					  form="contact-author-form"
					  placeholder="Email Body"
				      maxlength="500"
					  rows="8"></textarea>
		</div>
		@Html.HiddenFor(x => x.AnnouncementId)
		@Html.HiddenFor(x => x.AnnouncementUser)

		<div class="form-group">
			<button type="submit"
					class="btn btn-primary btn-lg transition-opacity">
				Send
			</button>
		</div>
	</form>
</div>

<style>
    textarea {
        resize: none
    }
</style>
