@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/custom.css" />

<div class="text-center">
    <h1 class="display-4">Welcome to the Community Board!</h1>
</div>
<hr class="text-black-50"/>
<section>
    <div class="container">
        <div class="row">
            @foreach (var announcement in Model.Announcements)
            {
            <div class="col-lg-4 mb-4">
                <div class="card">
                    @if (announcement.Image != null)
                    {
                        <!--Convert image to view correctly-->
                        <img src="@announcement.Image" alt="img" class="card-img-top">
                    }
                <div class="card-body">
                    <h5 class="card-title">@announcement.Name</h5>
                    <p class="card-text">@announcement.Type</p>
                    <p class="card-text">@announcement.Description</p>
                    <a asp-page="/Contact" class="btn btn-outline-success btn-sm transition">
                        Contact
                    </a>
                    <a asp-page="/Report" class="btn btn-outline-danger btn-sm float-right transition">
                        <i class="fa fa-flag"></i>
                    </a>
                </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>
