@page
@model CommunityBoard.FrontEnd.Pages.TermsModel
@{
}

<section class="container">
	<h2 class="text-center">Community Board Rules</h2>
	<h5>
		These rules are in place to ensure an environment conducive to helpful discussions is maintained;
		and that all users have a positive experience while participating. 
		By using the Community Board, you agree to the following rules:
	</h5>
	<ul>
		<li>
			Offending posts can be removed with or without notice. A user that continuously violates the rules
			will have their account suspended.
		</li>
		<li>
			Keep comments clean. Vulgar language and profanity are not allowed,
			this includes inappropriate words, phrases, photos, memes, videos, and using characters to
			replace letters to spell profanities indirectly.
			Unrelated topics will be moved, closed or deleted.
		</li>
		<li>
			Respect other users. Abusive, threatening, harassing, argumentative comments are not allowed.
			Badgering other users is not allowed.
		</li>
		<li>
			Do not engage in excessive confrontational postings. Debate is an important type of discussion,
			but users should not try to “pick a fight”. Users participating in a personal attack will receive a warning,
			and their message removed. A future incident will result in the user’s account being suspended.
		</li>
		<li>
			Users are allowed one account. A user that creates multiple accounts may have their accounts suspended.
		</li>
		<li>
			Be tactful when posting critical comments about a person, company or organization.
			Slanderous or libelous posts are not allowed.
		</li>
		<li>
			No spamming is allowed; do not post the same message repeatedly.
		</li>
		<li>
			Posts announcing that you, or another user, is leaving the board are not allowed.
		</li>
		<li>
			Material protected by copyright may not be posted without the expressed permission of the copyright owner. 
			When paraphrasing another work, cite the original source whenever possible. 
			Quotes from and links to other web sites must not violate the rules of Community Board or 
			the rules of the website being quoted or linked.
		</li>
		<li>
			You may not transmit or publish messages from this message board; 
			this includes but is not limited to copying messages in whole or in part and posting them on another site, 
			message board or publication.
		</li>
		<li>
			Event announcements are allowed.
		</li>
		<li>
			Statements which reflect poorly on the Community Board website are not allowed.
		</li>
		<li>
			We reserve the right to remove a post or close a thread for any reason without notification.
			You remain solely responsible for the things you post, and you agree to hold the Community Board and its owners harmless.
			These rules and guidelines can be updated or changed at any time.
		</li>
	</ul>
</section>